<Files ~ "^\.(htaccess|htpasswd)$">
deny from all
</Files>
Options -Indexes
AuthUserFile .htpasswd
AuthGroupFile /dev/null
AuthName "Please enter your ID and password"
AuthType Basic
require valid-user 
DirectoryIndex html/home.html       
order deny,allow

AddType image/svg+xml .svg .svgz
AddEncoding gzip .svgz