@import url("style_index.css");
.row_1 {
    display: flex;
    justify-content: flex-start;
}

.box_1 {
    width: 100%;
    height: 20px;
}

.row_2 {
    height: 100%;
    margin-left: 5%;
    margin-right: 5%;
}

.row_2 ul {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
}

.row_2 ul li {
    text-decoration: none;
    font-size: 24px;
    color: black;
    font-weight: bold;
}

.row_2 ul li a {
    text-decoration: none;
    color: black;
    transition: all .3s ease 0s;
    position: relative;
    z-index: 3;
}

.row_2 ul li a:hover {
    color: #1e90ff;
}

.bar {
    width: 3px;
    height: 100%;
    background-color: black;
}

.line_1 {
    width: 100%;
    height: 15px;
}

.line_2 {
    width: 100%;
    height: 3px;
    background-color: black;
}

.mainbox {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.mainbox h4 {
    height: 100%;
    font-size: 30px;
    color: black;
    margin: auto;
    margin-left: 18px;
    padding: 3px 8px;
    border-left: solid 8px #1e90ff;
}

.chapter {
    display: flex;
    justify-content: flex-start;
}

.chapter_1 {
    margin: auto;
    margin-top: 0%;
    margin-left: 0%;
}

.chapter_1 ul {
    list-style: square;
    margin-top: 7px;
}

.chapter_1 ul li {
    text-decoration: none;
    margin-bottom: 4px;
}

.chapter_1 p {
    margin-right: 10px;
}

.chapter_2 {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 30%;
    margin-bottom: 20px;
    margin-left: 35px;
    position: relative;
    z-index: 3;
}

.chapter_2 h5 {
    margin: auto;
    margin-left: 0%;
    font-size: 25px;
}

.chapter_2 h6 {
    margin: auto;
    margin-left: 0%;
    font-size: 25px;
    background: linear-gradient(transparent 70%, #1e90ff 70%);
}

.chapter_2 ul {
    list-style: none;
}

.contents {
    display: flex;
    justify-content: flex-start;
    height: 100%;
    margin-top: 15px;
    margin-left: 15px;
}

.photo {
    padding: 20px;
    width: 160px;
}

.boundaryline {
    width: 100%;
    height: 2px;
    background-color: gray;
}

.boundaryline_2 {
    height: 2px;
    background-color: gray;
    margin-left: 30px;
}