@import url("style_index.css");
h4 {
    height: 100%;
    font-size: 25px;
    color: black;
    margin: auto;
    margin-left: 18px;
    padding: 3px 8px;
    border-left: solid 8px #1e90ff;
}

.contents_1 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
}

.contents_1 h4 {
    width: 15%;
    margin-top: 35px;
    margin-left: 15px;
}

@media screen and (max-width: 1300px) {
    .contents_1 h4 {
        width: 30%;
        margin-top: 35px;
        margin-left: 15px;
    }
}

.contents_2 {
    margin: auto;
    width: 75%;
    height: 120px;
    display: flex;
    flex-direction: column;
}

.contents_2 p {
    margin: auto;
    font-size: 18px;
    margin-left: 30px;
}

.map {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    border: 2px solid;
    color: gray;
}

.contents_3 {
    margin: auto;
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.contents_3 ul {
    list-style: none;
    width: 100%;
    height: 100%;
}

.contents_3 ul li {
    margin-top: 15px;
    margin-left: 30px;
}

.Q {
    display: flex;
    justify-content: flex-start;
}

.Q h6 {
    font-size: 22px;
    color: darkblue;
    width: 40px;
    height: 35px;
    text-align: center;
}

.Q p {
    font-size: 18px;
    height: 30px;
    margin: auto;
    margin-left: 10px;
}

.A {
    display: flex;
    justify-content: flex-start;
}

.A h6 {
    font-size: 22px;
    color: darkred;
    width: 40px;
    height: 35px;
    text-align: center;
}

.A p {
    font-size: 18px;
    height: 30px;
    margin: auto;
    margin-left: 10px;
}

.boundaryline {
    width: 100%;
    height: 3px;
    background-color: gray;
}

.boundaryline_2 {
    width: 100%;
    margin-left: -15px;
    height: 2px;
    background-color: gray;
}