@import url("style_index.css");
.row_1 {
  display: flex;
  justify-content: flex-start;
}

.box_1 {
  width: 100%;
  height: 20px;
}

.bar {
  width: 3px;
  height: 100%;
  background-color: black;
}

.line {
  width: 100%;
  height: 3px;
  background-color: black;
}

.column {
  display: flex;
  justify-content: flex-start;
}

.menu_box {
  width: 200px;
  position: fixed;
  margin: auto;
  margin-left: -50px;
  margin-top: 30px;
  background-color: ;
}

.menu_box ul {
  padding: 10px;
}

.menu_box ul li {
  list-style: none;
  font-size: 20px;
  font-weight: bold;
}

.menu_box ul li a {
  text-decoration: none;
  color: #000;
}

.menu_box ul li a:hover {
  color: #1e90ff;
  transition: 0.5s;
}

.main_box {
  width: 1000px;
  margin: auto;
}

.main_box h4 {
  height: 100%;
  font-size: 30px;
  color: black;
  margin: auto;
  margin-left: 18px;
  padding: 3px 8px;
  border-left: solid 8px #1e90ff;
}

.main_box h5 {
  margin-left: 65px;
  margin-top: 30px;
  margin-bottom: -50px;
  font-size: 60px;
  z-index: 5;
  color: #454545;
  font-style: normal;
  font-weight: bold;
}

.blogs_box {
  height: 100%;
  text-decoration: none;
  background-color: #d3d3d3;
  padding: 40px;
}

.topics tr td {
  padding: 5px;
}

.topics tr td a {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: #000;
  text-decoration: none;
  position: relative;
  z-index: 4;
}

.topics tr td a:hover {
  color: #1e90ff;
  transition: 0.5s;
  opacity: 0.9;
}

img {
  margin-right: 5px;
}

footer {
  margin-top: 40px;
}