@import url("style_index.css");
.color_bar {
    width: 15px;
    height: 100px;
    background-color: #1e90ff;
}

.row_1 {
    display: flex;
    justify-content: flex-start;
}

.box_1 {
    width: 100%;
    height: 20px;
}

.row_1 h3 {
    height: 100px;
    font-size: 60px;
    margin-left: 15px;
}

.row_2 {
    height: 100%;
    margin-left: 5%;
    margin-right: 5%;
}

.row_2 ul {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
}

.row_2 ul li {
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.row_2 ul li a {
    text-decoration: none;
    color: black;
    transition: all .3s ease 0s;
    position: relative;
    z-index: 3;
}

.row_2 ul li a:hover {
    color: #1e90ff;
}

.bar {
    width: 3px;
    height: 100%;
    background-color: black;
}

.line_1 {
    width: 100%;
    height: 15px;
}

.line_2 {
    width: 100%;
    height: 3px;
    background-color: black;
}

.main_box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.chapter {
    display: flex;
    justify-content: flex-start;
    position: relative;
    z-index: 3;
}

.chaptername {
    width: 200px;
    height: 100%;
    margin: auto;
    margin-top: 10px;
    margin-left: 15px;
    padding: 3px 8px;
    border-left: solid 8px #1e90ff;
}

.chaptername h4 {
    height: 100%;
    font-size: 40px;
    color: #1e90ff;
}

.chaptername h5 {
    margin: auto;
    margin-left: 0%;
    font-size: 30px;
}

.chapter_contents {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.chapter_contents h6 {
    margin: auto;
    margin-left: 0%;
    font-size: 25px;
    background: linear-gradient(transparent 70%, #1e90ff 70%);
    margin-left: 20px;
}

.chapter_contents p {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.color_bar_2 {
    height: 38px;
    width: 5px;
    background-color: #1e90ff;
}

.space {
    width: 100%;
    height: 30px;
    display: block;
}

.space_2 {
    width: 100%;
    height: 10px;
}

.boundaryline {
    width: 100%;
    height: 2px;
    background-color: gray;
}